.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.play_pause_button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 3rem;
}

.indicators {
  padding: 0;
  list-style: none;
  text-align: center;
}
.indicators li {
  cursor: pointer;
  display: inline-block;
  margin: 0 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid black;
  background: white;
}

.indicators li.active {
  background: black;
  color: white;
}
